<h1>Welcome to the git-demo Web App</h1>

<p> update something on homepage</p>
<p> we strive to help you learn Git...</p>
<p>make change to the working tree 1-homepage</p>
<p>make change 2</p>
<p>make change to the working tree -1</p>

<hr>

<%= image_tag "dog_meme.jpg", size: "500x500" %>

<p> i'm bob now, make another change =)))</p>

<p>Some Δ</p>
